@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

:root {
  /* Colors */
  --bg-color: #0b0d17;
  --text-color: #ffffff;
  --color-2: #d0d6f9;
  /* Typography */
  --font-family-1: 'Bellefair', serif;
  --font-family-2: 'Barlow Condensed', sans-serif;
}

body {
  background-color: black;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  overflow: hidden;
}
.homepage {
  /* display: none; */
}
.home-img img {
  width: 100%;
  height: 62rem;
  /* display: none; */
}
.container {
  position: absolute;
  top: 60px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-auto-rows: auto; */
  grid-gap: 1em;
  align-items: center;
  text-align: center;
  font-family: var(--font-family-2);
  right: 7rem;
  z-index: 1;
}
.line {
  width: 40rem;
  opacity: 50%;
  z-index: 1;
}
#logo {
  position: relative;
  left: 55px;
  transition: transform 1s ease-in-out;
  z-index: 1;
}
#logo:hover {
  transform: rotate(360deg);
}

.blurbox {
  position: absolute;
  width: 60%;
  height: 96px;
  right: 0px;
  top: 40px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  z-index: 1;
}
.navLinks {
  text-decoration: none;
  color: var(--text-color);
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 2.3rem;
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.5s ease-in-out;
}

.navLinks:hover {
  border-bottom: 2px solid var(--text-color);
}
.container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-auto-rows: auto; */
  gap: 35rem;
  position: absolute;
  top: 340px;
  margin-left: 10rem;
  color: var(--text-color);
  left: 10%;
  cursor: context-menu;
}
.hero-text h1 {
  font-family: var(--font-family-2);
  letter-spacing: 4.75px;
  font-size: 28px;
  text-transform: uppercase;
}
.space {
  font-family: var(--font-family-1);
  font-size: 150px;
  text-transform: uppercase;
  position: relative;
  left: -1rem;
}
.exploreBtn {
  position: absolute;
  right: 15%;
  border-radius: 50%;
  width: 13rem;
  height: 13rem;
  cursor: pointer;
  margin-top: 8rem;
  transition: box-shadow 0.3s ease;
}
.exploreBtn:hover {
  box-shadow: #d0d6f957 0 0 0px 5em;
}
.exploreBtn h1 {
  font-family: var(--font-family-1);
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 2px;
}
.hero-text p {
  font-family: var(--font-family-2);
  line-height: 32px;
  font-size: 1.35rem;
}
.tab-num {
  opacity: 0.5;
}

.container-2 {
  position: absolute;
  animation: slideIn2 0.3s ease;
}
@keyframes slideIn2 {
  0% {
    left: 0%;
  }
  100% {
    left: 10%;
  }
}

.planet-bg {
  width: 100%;
  height: 62rem;
  display: none;
  position: relative;
  animation: slideIn 0.3s ease;
}
@keyframes slideIn {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
.container-destination {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 20%;
  position: relative;
  bottom: 48rem;
  color: var(--text-color);
}
.planets {
  font-family: var(--font-family-2);
  position: absolute;
  left: 60%;
  bottom: 68%;
  display: flex;
  gap: 2em;
  display: none;
}
.planets a {
  font-size: 1.3rem;
  opacity: 0.9;
}
.headline,
.container-destination h1,
h2,
h3,
a {
  text-transform: uppercase;
}
.container-destination h1,
h2 {
  font-family: var(--font-family-1);
  font-weight: 400;
}
.planet-description {
  word-wrap: break-word;
  width: 25rem;
  font-size: 1.2rem;
  opacity: 0.8;
}
.planet-name {
  font-size: 1rem;
  text-decoration: none;
  color: var(--text-color);
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 1rem;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s ease-in-out;
}
.planet-name:hover {
  border-bottom: 2px solid var(--text-color);
}
.tab-border {
  padding-bottom: 2.3rem;
  border-bottom: 2px solid var(--text-color);
}
.mini-tab-border {
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--text-color);
}
.container-destination p {
  margin-top: -3rem;
}
.container-destination a,
h3,
p,
.headline {
  font-weight: 400;
  font-family: var(--font-family-2);
  text-decoration: none;
  color: var(--text-color);
  line-height: 2rem;
}
.distance-time {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 25rem;
}
.planet-title {
  font-size: 6em;
  margin-top: 10px;
}
.planet-img {
  margin-top: 50px;
}
.planet-line {
  width: 60%;
  margin-right: 20rem;
  opacity: 0.3;
}
.distance-time h2 {
  font-size: 1.7rem;
}
.planet-img {
  border-radius: 50%;
  transition: transform 0.5s ease;
}
.planet-img:hover {
  transform: scale(1.3);
}
.headline {
  position: relative;
  bottom: 50rem;
  left: 12%;
  color: var(--text-color);
}
.headline {
  display: none;
}
.planet-section,
.planet-img {
  animation: slideIn 0.3s ease;
  position: relative;
}

@media screen and (max-width: 119rem) {
  body {
    overflow: scroll;
  }
}
